* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  padding-top: 20px;
}

li {
  /* padding-left: 20px; */
}

.nav {
  align-items: center;
  color: #000000;
  display: flex;

  grid-area: auto;
  justify-content: space-between;
  line-height: 24px;
  margin: 0px 110.5px;
  padding: 12px 0px 16px;
}

.nav-logo > img {
  height: 30px;
  align-self: center;
}

.tov-nav-menu li {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.tov-nav-menu li > img {
  display: flex;

  height: 24px;
  width: 24px;

  flex-shrink: 0;
}

.nav__cta-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 24px;
  font-weight: 600;
  color: #004182;
  box-shadow: 0 0 0 2px #004182;
  cursor: pointer;
  overflow: hidden;
}

.section-1 {
  margin-top: 40px;
  padding-left: 111px;
}
.section-1 img {
  width: 50%;
}

.leftSide {
  width: 50vw;
}

.text-1 {
  color: #b24020;
  font-size: 56px;
  font-weight: 200;
  line-height: 67.2px;
}

.text-2 {
  font-size: 14px;
  color: #000000;

  font-family: -apple-system;

  font-size: 14px;

  font-weight: 600;
  margin-bottom: 8px;
}
.loginForm {
  width: 65%;
}

.loginForm .inp {
  border-color: #000000;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  display: flex;
  grid-area: auto;
  line-height: 24px;
  padding: 14px 16px;
  width: 92%;
}

.loginForm .pass-inp {
  border-color: transparent;
  width: 100%;
}

.pass-input button {
  border-color: transparent;
  background-color: transparent;
  width: 30%;
}
.pass-input {
  border-color: #000000;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 60px;
  grid-area: auto;
  line-height: 24px;
  border-radius: 4px;
}

.password {
}

.text-3 {
  color: #004182;
}

.log {
  align-items: flex-start;
  background-color: #0a66c2;
  border-color: #000000;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: -apple-system;
  font-weight: 600;
  grid-area: auto;
  line-height: 20px;
  margin: 8px 0px;
  padding: 12px 24px;
  text-align: center;
  width: 65%;
}
